@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DonateKart Interview Question Solution .</p>
</div>
<div class="container" style="padding-top:20px;">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question 1 </h5>
                        <p class="card-text">Fetch the campaigns Details  </p>
                        <a class="nav-link text-dark" asp-area="" asp-controller="DK" asp-action="CampaignAccToAmount"> <b>Click here for solution </b></a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question 2 </h5>
                        <p class="card-text"> Fetch Active Campaign</p>
                         <a class="nav-link text-dark" asp-area="" asp-controller="DK" asp-action="GetActiveCampaign"> <b>Click here for solution</b></a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question 3 </h5>
                        <p class="card-text"> Fetch closed Campaing</p>
                         <a class="nav-link text-dark" asp-area="" asp-controller="DK" asp-action="GetCompletedCampaign"> <b>Click here for solution </b></a>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    
